.button {
  font-variant: all-petite-caps;
  cursor: pointer;

  &.transparent {
    background-color: transparent;
    border: 2px solid white;
    color: white;

    &:hover {
      color: black;
      background-color: white;
    }
  }

  &.black {
    color: white;
    background-color: black;
    padding: 2px 30px 4px 30px;
    border: 2px solid black;

    &:hover {
      background-color: white;
      color: black;
    }
  }

  &.white {
    color: black;
    background-color: white;
    border: 2px solid white;
    padding: 2px 24px;

    &:hover {
      color: white;
      background-color: transparent;
    }
  }

  &.gray {
    color: white;
    background-color: #fff;
    border: 2px solid white;

    padding: 2px 24px;

    &:hover {
      color: #fff;
      background-color: transparent;
    }
  }

  &.round {
    border-radius: 50px;
  }

  &.pink {
    color: white;
    background-color: #ff214f;
    border: 2px solid #ff214f;
    border-radius: 50px;
    padding: 2px 30px 4px 30px;

    &:hover {
      background-color: transparent;
      color: #ff214f;
    }
  }
}
