$color-white: #fff;
$color-yellow: #ffc92d;
$font-size-16: 16px;

$grey: #d7d7d7;

.site-header {
  background: $color-white !important;
  height: 50px !important;
  padding: 0px !important;

  .logo-admin {
    background-image: url("../../../assets/images/178869519_512314656431847_8367906319180232373_n.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
  }
}
