.bug-suggestion-container {
  background-image: url("../../assets/images/how_it_works.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 130px 0;

  .content-bgt {
    color: white;
    text-align: center;
    padding: 80px 0;

    .text {
      display: inline-block;
      margin-right: 25px;
      font-size: 16px;
      font-family: "Montserrat", sans-serif;
    }
  }
}
